.cartForm {
    margin: 0 auto;
    text-align: center;
    border: 2px solid #9123f1;
    border-radius: 10px ;
    padding: 20px;
    height: 45vh;
    width: 40vw;
    min-width: 320px;
}

.cartForm a {
    text-decoration: none;
}

